

.section{
    display: flex;
    padding: 2rem;
    place-items: center;
}

.bulletPoint{
    display: flex;
    margin:2rem;
}

.bulletPoint>div{
    margin-left:1rem;
    width: 50%;
}

#background-grid{
    width:10rem;
    height: 10rem;
    position: relative;
    top:10rem;
    left:16rem;
    z-index: 1;
    
    
}

.card{
    

    border-radius: 15px;
    padding: 1rem;
    background-color: white;
    position: relative;
    left: 10rem;
    top:3rem;
    z-index: 1;
    box-shadow: 0px 18px 6px rgba(128, 128, 128, 0.301);
    
}

.card-background{
    background-image:url("../Section4/images/Ellipse 8.png") ;
    overflow-y: visible;
   
    
}

#subsection2{
    display: flex;
}